html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "proxima_nova"; src: url("../fonts/proxima_nova.eot"); src: url("../fonts/proxima_nova.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova.woff") format("woff"), url("../fonts/proxima_nova.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "proxima_nova_bold"; src: url("../fonts/proxima_nova_bold.eot"); src: url("../fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "proxima_nova_light"; src: url("../fonts/proxima_nova_light.eot"); src: url("../fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_light.woff") format("woff"), url("../fonts/proxima_nova_light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "als_rubl"; src: url("../fonts/als_rubl.eot"); src: url("../fonts/als_rubl.eot?#iefix") format("embedded-opentype"), url("../fonts/als_rubl.woff") format("woff"), url("../fonts/als_rubl.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@media only screen and (min-width: 1000px) { .show-on-mobile { display: none !important; } }

body { position: relative; font-family: "proxima_nova", Arial, sans-serif; font-size: 12px; line-height: 1.4; color: #FFF; background-color: #231A43; background-image: linear-gradient(28deg, #221745 0%, #511c51 100%); min-width: 640px; }
body b, body strong { font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif; font-weight: normal; }

.out { overflow: hidden; position: relative; }

.icon { display: inline-block; }

.icon-satellite { background: url('../img/icons-simple.png') 0 -1545px no-repeat; width: 47px; height: 48px; }

.icon-money { background: url('../img/icons-simple.png') 0 -1377px no-repeat; width: 38px; height: 35px; }

.icon-coins { background: url('../img/icons-simple.png') 0 -1021px no-repeat; width: 47px; height: 47px; }

.icon-shield { background: url('../img/icons-simple.png') 0 -1635px no-repeat; width: 30px; height: 36px; }

.icon-phone { background: url('../img/icons-simple.png') 0 -1422px no-repeat; width: 26px; height: 44px; }

.icon-best-wallet { background: url('../img/icons-simple.png') 0 -837px no-repeat; width: 50px; height: 60px; }

.icon-best-wallet { background: url('../img/icons-simple.png') 0 -837px no-repeat; width: 50px; height: 60px; }

.icon-best { background: url('../img/icons-simple.png') 0 -907px no-repeat; width: 58px; height: 41px; }

.icon-sberbank { background: url('../img/icons-simple.png') 0 -1603px no-repeat; width: 116px; height: 22px; }

.icon-credit-pilot { background: url('../img/icons-simple.png') 0 -1078px no-repeat; width: 93px; height: 33px; }

.icon-webmoney { background: url('../img/icons-simple.png') 0 -1784px no-repeat; width: 102px; height: 25px; }

.icon-visa-master { background: url('../img/icons-simple.png') 0 -1681px no-repeat; width: 53px; height: 44px; }

.icon-wallet-one { background: url('../img/icons-simple.png') 0 -1735px no-repeat; width: 45px; height: 39px; }

.icon-yandex { background: url('../img/icons-simple.png') 0 -1819px no-repeat; width: 80px; height: 34px; }

.icon-best-footer { background: url('../img/icons-simple.png') 0 -751px no-repeat; width: 106px; height: 76px; }

.icon-ipsp { background: url('../img/icons-simple.png') 0 -1121px no-repeat; width: 166px; height: 76px; }

.icon-app-store-red { background: url('../img/icons-simple.png') 0 0 no-repeat; width: 362px; height: 196px; }

.line { display: inline-block; }

.from-best-wallet .line { background: url('../img/lines.png') 0 -182px no-repeat; width: 268px; height: 120px; }
.from-best-wallet.is-active .line { background: url('../img/lines.png') 0 -52px no-repeat; }
@media only screen and (max-width: 1000px) { .from-best-wallet .line { background: url('../img/lines-mobile.png') -182px 0 no-repeat; width: 120px; height: 268px; }
  .from-best-wallet.is-active .line { background: url('../img/lines-mobile.png') -52px 0 no-repeat; } }

.from-best .line { background: url('../img/lines.png') 0 -312px no-repeat; width: 121px; height: 42px; }
.from-best.is-active .line { background: url('../img/lines.png') 0 0 no-repeat; }
@media only screen and (max-width: 1000px) { .from-best .line { background: url('../img/lines-mobile.png') -312px 0 no-repeat; width: 42px; height: 121px; }
  .from-best.is-active .line { background: url('../img/lines-mobile.png') 0 0 no-repeat; } }

.from-card .line { background: url('../img/lines.png') 0 -407px no-repeat; width: 47px; height: 33px; }
.from-card.is-active .line { background: url('../img/lines.png') 0 -364px no-repeat; }
@media only screen and (max-width: 1000px) { .from-card .line { background: url('../img/lines-mobile.png') -407px 0 no-repeat; width: 33px; height: 47px; }
  .from-card.is-active .line { background: url('../img/lines-mobile.png') -364px 0 no-repeat; } }

.from-credit-pilot .line { background: url('../img/lines.png') 0 -598px no-repeat; width: 263px; height: 138px; }
.from-credit-pilot.is-active .line { background: url('../img/lines.png') 0 -450px no-repeat; }
@media only screen and (max-width: 1000px) { .from-credit-pilot .line { background: url('../img/lines-mobile.png') -598px 0 no-repeat; width: 138px; height: 263px; }
  .from-credit-pilot.is-active .line { background: url('../img/lines-mobile.png') -450px 0 no-repeat; } }

.to-best-wallet .line { background: url('../img/lines.png') 0 -949px no-repeat; width: 165px; height: 112px; }
.to-best-wallet.is-active .line { background: url('../img/lines.png') 0 -827px no-repeat; }
@media only screen and (max-width: 1000px) { .to-best-wallet .line { background: url('../img/lines-mobile.png') -949px 0 no-repeat; width: 112px; height: 165px; }
  .to-best-wallet.is-active .line { background: url('../img/lines-mobile.png') -827px 0 no-repeat; } }

.to-best .line { background: url('../img/lines.png') 0 -1071px no-repeat; width: 119px; height: 71px; }
.to-best.is-active .line { background: url('../img/lines.png') 0 -746px no-repeat; }
@media only screen and (max-width: 1000px) { .to-best .line { background: url('../img/lines-mobile.png') -1071px 0 no-repeat; width: 71px; height: 119px; }
  .to-best.is-active .line { background: url('../img/lines-mobile.png') -746px 0 no-repeat; } }

.to-wallet-one .line { background: url('../img/lines.png') 0 -1520px no-repeat; width: 273px; height: 80px; }
.to-wallet-one.is-active .line { background: url('../img/lines.png') 0 -1430px no-repeat; }
@media only screen and (max-width: 1000px) { .to-wallet-one .line { background: url('../img/lines-mobile.png') -1520px 0 no-repeat; width: 80px; height: 273px; }
  .to-wallet-one.is-active .line { background: url('../img/lines-mobile.png') -1430px 0 no-repeat; } }

.to-sberbank .line { background: url('../img/lines.png') 0 -1382px no-repeat; width: 108px; height: 38px; }
.to-sberbank.is-active .line { background: url('../img/lines.png') 0 -1334px no-repeat; }
@media only screen and (max-width: 1000px) { .to-sberbank .line { background: url('../img/lines-mobile.png') -1382px 0 no-repeat; width: 38px; height: 108px; }
  .to-sberbank.is-active .line { background: url('../img/lines-mobile.png') -1334px 0 no-repeat; } }

.to-yandex .line { background: url('../img/lines.png') 0 -1992px no-repeat; width: 274px; height: 68px; }
.to-yandex.is-active .line { background: url('../img/lines.png') 0 -1914px no-repeat; }
@media only screen and (max-width: 1000px) { .to-yandex .line { background: url('../img/lines-mobile.png') -1992px 0 no-repeat; width: 68px; height: 274px; }
  .to-yandex.is-active .line { background: url('../img/lines-mobile.png') -1914px 0 no-repeat; } }

.to-card .line { background: url('../img/lines.png') 0 -1297px no-repeat; width: 224px; height: 27px; }
.to-card.is-active .line { background: url('../img/lines.png') 0 -1152px no-repeat; }
@media only screen and (max-width: 1000px) { .to-card .line { background: url('../img/lines-mobile.png') -1297px 0 no-repeat; width: 27px; height: 224px; }
  .to-card.is-active .line { background: url('../img/lines-mobile.png') -1152px 0 no-repeat; } }

.to-card-rf .line { background: url('../img/lines.png') 0 -1243px no-repeat; width: 103px; height: 44px; }
.to-card-rf.is-active .line { background: url('../img/lines.png') 0 -1189px no-repeat; }
@media only screen and (max-width: 1000px) { .to-card-rf .line { background: url('../img/lines-mobile.png') -1243px 0 no-repeat; width: 44px; height: 103px; }
  .to-card-rf.is-active .line { background: url('../img/lines-mobile.png') -1189px 0 no-repeat; } }

.to-webmoney .line { background: url('../img/lines.png') 0 -1762px no-repeat; width: 172px; height: 142px; }
.to-webmoney.is-active .line { background: url('../img/lines.png') 0 -1610px no-repeat; }
@media only screen and (max-width: 1000px) { .to-webmoney .line { background: url('../img/lines-mobile.png') -1762px 0 no-repeat; width: 142px; height: 172px; }
  .to-webmoney.is-active .line { background: url('../img/lines-mobile.png') -1610px 0 no-repeat; } }

.reference { position: fixed; z-index: 6; top: 36%; right: 38px; width: 43px; height: 59px; margin-top: -29px; background: url('../img/icons-simple.png') 0 -1476px no-repeat; width: 57px; height: 59px; transition: all 0.2s linear; }
@media only screen and (max-width: 1000px) { .reference { right: 0; }
  .reference:before { content: ""; position: absolute; bottom: 100%; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 10px 0 0 10px; border-color: transparent transparent transparent #F95923; } }

.dots { position: fixed; z-index: 6; top: 50%; right: 90px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.dots li { margin-top: 11px; width: 9px; height: 9px; border: 2px solid #C7575B; border-radius: 50%; transition: all 0.1s linear; cursor: pointer; }
.dots li:hover, .dots li:focus, .dots li.is-active { background: #C7575B; }
.dots li:first-child { margin-top: 0; }
@media only screen and (max-width: 1000px) { .dots { display: none; } }

.l { max-width: 1170px; padding: 0 30px; margin: auto; }

.figure { position: relative; box-sizing: border-box; left: -27px; padding-left: 27px; width: 1170px; height: 500px; transition: all 0.1s linear; -webkit-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; transform-origin: 0% 50%; }
.figure.is-mobile { -webkit-transform-origin: 20% 50%; -ms-transform-origin: 20% 50%; transform-origin: 20% 50%; }
@media only screen and (max-width: 1000px) { .figure { width: 590px; height: 1000px; margin: auto; left: 0; }
  .figure .figure__right .el__inner, .figure .figure__right .el__icon, .figure .figure__right .el__text { display: block; }
  .figure .figure__right .el__text { padding: 0; } }

.figure__center { position: absolute; top: 50%; left: 50%; margin: -150px 0 0 -150px; background: url('../img/icons.png') 0 -591px no-repeat; width: 299px; height: 299px; }

.figure__left { float: left; }
.figure__left .el { text-align: right; }
.figure__left .el__marker { top: 50%; right: -20px; bottom: auto; left: auto; }
.figure__left .line { left: 100%; }

.figure__right { float: right; }
.figure__right .line { right: 100%; }

.figure__item { position: absolute; }
.figure__item .line { position: absolute; z-index: 1; }

.el { display: inline-block; position: relative; z-index: 2; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.el .line { position: absolute; }

.el__input { position: absolute; opacity: 0; }

.el__marker { position: absolute; top: 50%; left: -20px; width: 10px; height: 10px; background-color: #59EEDE; border-radius: 50%; margin: -7px 0 0 -7px; }
.el__marker:before { content: ""; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; border: 1px solid #59EEDE; border-radius: 50%; }
.is-active .el__marker { background-color: #F03081; }
.is-active .el__marker:before { border-color: #F03081; }
.from-card .el__marker { top: 13px; right: -6px; }
.to-sberbank .el__marker { left: -12px; bottom: 5px; top: auto; }
.el__marker .to-yandex { left: -12px; }
.to-card .el__marker, .to-card-rf .el__marker { top: auto; bottom: 16px; left: -8px; }

.el__inner { display: table; table-layout: fixed; }
.to-sberbank .el__inner { display: block; }

.el__icon { display: table-cell; vertical-align: middle; font-size: 0; }
.to-sberbank .el__icon { display: block; }

.el__text { display: table-cell; vertical-align: middle; padding: 0 10px; font-size: 16px; line-height: 1; white-space: nowrap; }
.to-sberbank .el__text { display: block; padding: 0 0 0 29px; }

.el__label { display: block; font-family: "proxima_nova_light", Helvetica, Arial, sans-serif; font-weight: normal; }

.el__name { display: block; font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif; font-weight: normal; }

.from-best-wallet { top: 113px; right: 996px; }
.from-best-wallet .line { top: -37px; margin-left: 20px; }
.from-best-wallet .el__marker { top: 29px; right: -20px; }

.from-card { top: 162px; right: 773px; }
.from-card .line { top: 14px; margin-left: 10px; }
.from-card .el__marker { top: 14px; right: -6px; }

.from-best { top: 248px; right: 859px; }
.from-best .line { top: -24px; margin-left: 22px; }
.from-best .el__marker { top: 26px; right: -20px; }

.from-credit-pilot { top: 412px; right: 939px; }
.from-credit-pilot .line { top: -58px; margin-left: 21px; }
.from-credit-pilot .el__marker { top: 26px; right: -20px; }

.to-best-wallet { top: -9px; left: 823px; }
.to-best-wallet .line { top: 20px; margin-right: 34px; }
.to-best-wallet .el__marker { top: 30px; left: -20px; }

.to-best { top: 61px; left: 821px; }
.to-best .line { top: 20px; margin-right: 34px; }
.to-best .el__marker { top: 24px; left: -20px; }

.to-wallet-one { top: 78px; left: 1029px; }
.to-wallet-one .line { top: 32px; margin-right: 32px; }
.to-wallet-one .el__marker { top: 32px; left: -18px; }

.to-sberbank { top: 138px; left: 837px; }
.to-sberbank .line { top: 49px; margin-right: 22px; }
.to-sberbank .el__marker { top: 45px; left: -11px; }

.to-yandex { top: 179px; left: 1009px; }
.to-yandex .line { top: 20px; margin-right: 25px; }
.to-yandex .el__marker { top: 22px; left: -12px; }

.to-card { top: 256px; left: 943px; }
.to-card .line { top: 25px; margin-right: 20px; }
.to-card .el__marker { top: 47px; left: -6px; }

.to-card-rf { top: 336px; left: 800px; }
.to-card-rf .line { top: 2px; margin-right: 20px; }
.to-card-rf .el__marker { top: 46px; left: -6px; }

.to-webmoney { top: 486px; left: 841px; }
.to-webmoney .line { top: -123px; margin-right: 33px; }
.to-webmoney .el__marker { top: 19px; left: -19px; }

@media only screen and (max-width: 1000px) { .from-best-wallet { top: 126px; right: 146px; }
  .from-best-wallet .line { top: 31px; margin-left: -40px; }
  .from-best-wallet .el__marker { top: 29px; right: -20px; }
  .from-card { top: 279px; right: 119px; }
  .from-card .line { top: 71px; margin-left: -109px; }
  .from-card .el__marker { top: 64px; right: 67px; }
  .from-best { top: 212px; right: 347px; }
  .from-best .line { top: 31px; margin-left: 20px; }
  .from-best .el__marker { top: 26px; right: -20px; }
  .from-credit-pilot { top: 90px; right: 400px; }
  .from-credit-pilot .line { top: 76px; margin-left: -154px; }
  .from-credit-pilot .el__marker { top: 70px; right: 92px; }
  .to-best-wallet { top: 696px; left: 537px; }
  .to-best-wallet .line { top: -147px; margin-right: 13px; }
  .to-best-wallet .el__marker { top: 30px; left: -20px; }
  .to-best { top: 745px; left: 432px; }
  .to-best .line { top: -151px; margin-right: -13px; }
  .to-best .el__marker { top: -19px; left: 12px; }
  .to-wallet-one { top: 900px; left: 436px; }
  .to-wallet-one .line { top: -253px; margin-right: 23px; }
  .to-wallet-one .el__marker { top: 32px; left: -18px; }
  .to-sberbank { top: 752px; left: 301px; }
  .to-sberbank .line { top: -124px; margin-right: -38px; }
  .to-sberbank .el__marker { top: -7px; left: 46px; }
  .to-yandex { top: 926px; left: 267px; }
  .to-yandex .line { top: -299px; margin-right: -60px; }
  .to-yandex .el__marker { top: -11px; left: 61px; }
  .to-card { top: 859px; left: 156px; }
  .to-card .line { top: -239px; margin-right: -96px; }
  .to-card .el__marker { top: -2px; left: 77px; }
  .to-card-rf { top: 731px; left: 116px; }
  .to-card-rf .line { top: -136px; margin-right: -73px; }
  .to-card-rf .el__marker { top: -19px; left: 33px; }
  .to-webmoney { top: 755px; left: 0px; }
  .to-webmoney .line { top: -198px; margin-right: -161px; }
  .to-webmoney .el__marker { top: -13px; left: 25px; } }
.flip-text { display: block; font-size: 0; font-size: 45px; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.flip-text:after { content: ""; display: table; width: 100%; clear: both; }
.flip-text.no-animate .char__top, .flip-text.no-animate .char__bottom, .flip-text.no-animate .char__top:after, .flip-text.no-animate .char__bottom:after { -webkit-animation: none; animation: none; }
.flip-text .char { display: block; float: left; position: relative; height: 1.555em; line-height: 1.555em; width: 1.044em; margin-left: 0.244em; border-radius: 4px; background: #702e73; background-image: linear-gradient(to top, #512154 0%, #943d98 100%); box-shadow: 0px 1px 1px 0px rgba(8, 22, 43, 0.5), 0 0.111em 0 0 #442049; color: #FFF; font-size: 1em; text-align: center; text-transform: uppercase; -webkit-perspective: 200px; perspective: 200px; }
.flip-text .char:first-child { margin-left: 0; }
.flip-text .char:before { content: ""; position: absolute; top: 50%; margin-top: -1px; left: 0; right: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
.flip-text .char.is-animate .char__top { -webkit-animation: flip-char-top 0.4s linear infinite; animation: flip-char-top 0.4s linear infinite; }
.flip-text .char.is-animate .char__top:after { -webkit-animation: to-bottom 0.4s linear infinite; animation: to-bottom 0.4s linear infinite; }
.flip-text .char.is-animate .char__bottom { -webkit-animation: flip-char-bottom 0.4s linear infinite; animation: flip-char-bottom 0.4s linear infinite; }
.flip-text .char.is-animate .char__bottom:after { -webkit-animation: to-top 0.4s linear infinite; animation: to-top 0.4s linear infinite; }
.flip-text .char__top, .flip-text .char__bottom { position: absolute; z-index: 2; left: 0; right: 0; overflow: hidden; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #702e73; }
.flip-text .char__top:before, .flip-text .char__bottom:before { content: ""; position: absolute; z-index: 2; left: 0; right: 0; height: 1px; }
.flip-text .char__top:after, .flip-text .char__bottom:after { content: ""; position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); opacity: 0; }
.flip-text .char__top span, .flip-text .char__bottom span { position: absolute; left: 0; right: 0; width: 1.044em; height: 1.555em; }
.flip-text .char__top { top: 0; bottom: 50%; border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-transform-origin: left bottom 0; -ms-transform-origin: left bottom 0; transform-origin: left bottom 0; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); background-image: linear-gradient(to top, #512154 -100%, #943d98 100%); }
.flip-text .char__top:before { bottom: 0; background: rgba(0, 0, 0, 0.2); }
.flip-text .char__top span { top: 0; }
.flip-text .char__top:after { border-top-left-radius: 4px; border-top-right-radius: 4px; border-top: 0px solid rgba(255, 255, 255, 0.4); }
.flip-text .char__bottom { top: 50%; bottom: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -webkit-transform-origin: left top 0; -ms-transform-origin: left top 0; transform-origin: left top 0; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); background-image: linear-gradient(to top, #512154 0%, #943d98 200%); }
.flip-text .char__bottom span { bottom: 0; background: rgba(255, 255, 255, 0.05); }
.flip-text .char__bottom:before { top: 0; }
.flip-text .char__bottom:after { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: 0px solid rgba(255, 255, 255, 0.4); }

@-webkit-keyframes flip-char-top { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); visibility: visible; }
  50%, 99% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
  100% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); visibility: hidden; } }

@keyframes flip-char-top { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); visibility: visible; }
  50%, 99% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
  100% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); visibility: hidden; } }
@-webkit-keyframes flip-char-bottom { 0%, 50% { -webkit-transform: rotateX(90deg); transform: rotateX(90deg); visibility: visible; }
  99% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); visibility: hidden; } }
@keyframes flip-char-bottom { 0%, 50% { -webkit-transform: rotateX(90deg); transform: rotateX(90deg); visibility: visible; }
  99% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); visibility: hidden; } }
@-webkit-keyframes to-bottom { from { opacity: 0; border-top-width: 0; }
  to { opacity: 1; border-top-width: 5px; } }
@keyframes to-bottom { from { opacity: 0; border-top-width: 0; }
  to { opacity: 1; border-top-width: 5px; } }
@-webkit-keyframes to-top { from { opacity: 1; border-bottom-width: 5px; }
  to { opacity: 0; border-bottom-width: 0; } }
@keyframes to-top { from { opacity: 1; border-bottom-width: 5px; }
  to { opacity: 0; border-bottom-width: 0; } }
.main-wrap { position: relative; margin: 43px 30px 30px; color: #313131; box-shadow: 0 0 4px rgba(75, 63, 63, 0.89); }
@media only screen and (max-width: 1000px) { .main-wrap { margin: 43px 10px 10px; } }

.main-wrap__white { padding-top: 80px; background: url("../img/poligon-bg.png") no-repeat 0 29%, url("../img/poligon-bg2.png") no-repeat 0 60.2%; background-color: #FFF; }

.section { margin: 200px 0; }
.section:first-child { margin-top: 0; }
.section:first-child + .section { margin-top: 170px; }
@media only screen and (max-width: 1000px) { .section { margin: 80px 0; }
  .section:first-child { margin-top: 0; }
  .section:first-child + .section { margin-top: 75px; } }

.background { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.background:before, .background:after { content: ""; position: absolute; left: 0; right: 0; height: 50%; background-size: cover; background-repeat: no-repeat; }
.background:before { top: 0; background-image: url("../img/body-bg-top.jpg"); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.background:after { bottom: 0; background-image: url("../img/body-bg-bottom.jpg"); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.background .out { position: relative; z-index: 1; }

.header { padding: 47px 0 0; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1000px) { .header { padding-top: 30px; } }

.header__right { padding-top: 70px; float: right; }
@media only screen and (max-width: 1000px) { .header__right { float: none; padding-top: 0; text-align: center; position: relative; margin-bottom: 25px; } }

.logo { margin: auto; background: url('../img/icons.png') 0 -1356px no-repeat; width: 133px; height: 160px; font: 0/0 a; text-shadow: none; color: transparent; }

.menu { display: inline-block; vertical-align: middle; font-size: 21px; line-height: 1.2; color: #fff; font-family: "proxima_nova_light", Helvetica, Arial, sans-serif; font-weight: normal; }
.menu li { display: inline-block; vertical-align: middle; margin-right: 20px; }
.menu li:last-child { margin-right: 0; }
.menu a { color: inherit; text-decoration: none; }
.menu a:hover { text-decoration: underline; }

.lang { display: inline-block; vertical-align: middle; position: relative; padding: 7px 5px; margin-left: 20px; color: #FFF; font-size: 21px; line-height: 1; font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif; font-weight: normal; text-transform: uppercase; text-decoration: none; border: 2px solid #fff; }
.lang:before { content: ""; position: absolute; top: 100%; left: 50%; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #fff transparent transparent transparent; margin: 2px 0 0 -6px; }
@media only screen and (max-width: 1000px) { .lang { position: absolute; top: -5px; right: -20px; } }

.wallet .l { position: relative; }

.wallet__main { width: 59.40171%; padding-top: 60px; }
@media only screen and (max-width: 1000px) { .wallet__main { width: auto; padding-top: 0; } }

.title-head { margin: 0 auto 60px; font-size: 48px; line-height: 1.2; color: #C41535; font-weight: normal; }
@media only screen and (max-width: 1000px) { .title-head { font-size: 50px; text-align: center; } }

.phone-container { position: absolute; top: 0; right: -30px; width: 452px; height: 798px; }
@media only screen and (max-width: 1000px) { .phone-container { position: relative; margin: auto; right: 0; } }

.phone { position: relative; width: 452px; height: 798px; z-index: 2; background: url("../img/phone-bg.png") no-repeat; }

.phone__inner { position: absolute; z-index: 2; top: 79px; left: 69px; width: 314px; height: 558px; background: black; overflow: hidden; }

.capabilities { margin: auto; }
.capabilities li { display: table; width: 100%; padding: 0; min-height: 50px; margin-top: 19px; margin-top: 0.836em; margin-bottom: 0; }
@media only screen and (max-width: 1000px) { .capabilities { text-align: center; }
  .capabilities li { display: inline-block; vertical-align: top; width: 17.09402%; min-width: 165px; padding: 0 5px; margin: 0 0 15px 0; } }

.capabilities__icon { height: 64px; display: table-cell; vertical-align: middle; width: 50px; text-align: center; }
@media only screen and (max-width: 1000px) { .capabilities__icon { display: block; width: auto; height: 60px; } }

.capabilities__text { display: table-cell; vertical-align: middle; padding-left: 25px; font-size: 20px; line-height: 1; }
@media only screen and (max-width: 1000px) { .capabilities__text { display: block; padding-left: 0; } }

.title { color: #422655; font-size: 40px; line-height: 1.1; text-transform: uppercase; font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif; font-weight: normal; }

.text { font-size: 24px; }
.text > ul, .text > ul > li, .text > p { margin: 29px 0; }
.text > ul:first-child, .text > ul > li:first-child, .text > p:first-child { margin-top: 0; }
.text > ul:last-child, .text > ul > li:last-child, .text > p:last-child { margin-bottom: 0; }
.text.text_left { width: 59.40171%; }
@media only screen and (max-width: 1000px) { .text.text_left { width: auto; } }
@media only screen and (max-width: 1000px) { .text > ul > li { position: relative; padding-left: 50px; }
  .text > ul > li:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -12px; background: url('../img/icons-simple.png') 0 -958px no-repeat; width: 29px; height: 23px; } }

.commission { padding-bottom: 90px; }
.commission .text { text-align: center; padding: 0 8.54701%; }
@media only screen and (max-width: 1000px) { .commission .text { padding: 0; } }

.figure-text { display: block; margin: 84px 0 -18px; width: 42.73504%; font-size: 21px; line-height: 1.1; position: relative; color: #422655; }
@media only screen and (max-width: 1000px) { .figure-text { width: auto; text-align: center; padding: 0 20px; } }

.figure__center { margin: -165px 0 0 -150px; background: url('../img/icons-simple.png') 0 -412px no-repeat; width: 300px; height: 329px; }

.tooltip-wrap { position: relative; }

.tooltip { position: absolute; display: inline-block; top: 0; left: 0; padding: 19px 15px; box-sizing: border-box; max-width: 510px; background: #F8061D; font-size: 20px; line-height: 1.2; color: #fff; }
.tooltip:before { content: ""; position: absolute; right: 4.70588%; bottom: 100%; width: 0px; height: 0px; border-style: solid; border-width: 0 0 11px 17px; border-color: transparent transparent #F8061D transparent; }
@media only screen and (max-width: 1000px) { .tooltip { max-width: 40.33898%; left: -30px; margin-top: 0; } }
@media only screen and (max-width: 700px) { .tooltip { top: -50px; } }

.tooltip__value { display: block; }

.contacts { color: inherit; }
.contacts a { text-decoration: none; color: inherit; }

.contacts__title { display: block; }

.security { position: relative; padding: 20px 0; margin-bottom: 0; min-height: 770px; z-index: 1; overflow: hidden; }
.security .l { position: relative; z-index: 2; }
.security .text { padding-left: 59.40171%; width: auto; }
.security:after { content: ""; position: absolute; display: block; top: 50%; right: 46.11111%; width: 795px; height: 745px; margin-top: -372px; background: url("../img/security.png") no-repeat 50% 50%; }
@media only screen and (max-width: 1000px) { .security .text { padding-left: 0; }
  .security:after { position: static; width: auto; padding-bottom: 93.71069%; height: auto; margin: 10px 40px 0; box-sizing: border-box; background-size: 100% auto; } }

.footer { position: relative; padding: 160px 0 105px; text-align: center; background: #fff; }
@media only screen and (max-width: 1000px) { .footer { padding: 0 0 40px; } }

.footer__logos { margin: 20px 0 57px; }
.footer__logos .icon { vertical-align: middle; margin-right: 35px; text-decoration: none; }
.footer__logos .icon:last-child { margin-right: 0; }

.footer__copy { display: block; margin: 23px 0; font-size: 21px; }

.footer__links { color: #36C4E2; font-size: 21px; }
.footer__links li { display: inline-block; margin-right: 40px; }
.footer__links li:last-child { margin-right: 0; }
.footer__links a { text-decoration: none; color: inherit; }
.footer__links a:hover { text-decoration: underline; }
@media only screen and (max-width: 1000px) { .footer__links { font-size: 17px; margin: 0 -30px; }
  .footer__links li { margin-right: 15px; }
  .footer__links li:last-child { margin-right: 0; } }

.app-store { position: relative; display: inline-block; margin: 0 auto 34px; }
.app-store:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("../img/btn-bg.jpg") no-repeat center center; background-color: #CD6364; }
.app-store:after { content: ""; position: relative; display: block; background: url('../img/icons-simple.png') 0 -206px no-repeat; width: 362px; height: 196px; }

.boxshadow .footer { background: none; overflow: hidden; margin-top: -1px; }
.boxshadow .footer .l { position: relative; z-index: 2; }
.boxshadow .app-store { position: relative; z-index: 1; box-shadow: 0 0 0 1500px #FFF; }
.boxshadow .app-store:before { display: none; }

.btn { display: block; margin: auto; padding: 31px 35px 29px; background-color: #FFF; background-image: linear-gradient(78deg, #ec2845 0%, #f95c73 100%); box-shadow: -1px 2px 2px 0px rgba(75, 24, 80, 0.11), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21); font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 25px; line-height: 1; color: #FFF; text-decoration: none; text-transform: uppercase; text-align: center; }
.intro .btn { margin-top: 55px; }

.icon-app-store-red { display: block; margin: 50px auto 0; }

.counter { *zoom: 1; }
.counter:after { content: " "; display: table; clear: both; }
.counter .flip-text { display: inline-block; vertical-align: top; margin-right: 0.089em; font-size: 40px; }
@media only screen and (max-width: 1000px) { .counter { text-align: center; }
  .counter .flip-text { font-size: 35px; } }

.counter__title { display: block; margin-bottom: 35px; }

.char.rubl { font-family: "als_rubl"; font-weight: normal; text-transform: none !important; line-height: 1.2em; font-size: 1em; }
