//map for left figure elements
$leftElements: (
  from-best-wallet:  (elTop: 113px, elRight: 996px, lineTop: -37px, lineLeft: 20px),
  from-card:         (elTop: 162px, elRight: 773px, lineTop:  14px, lineLeft: 10px),
  from-best:         (elTop: 248px, elRight: 859px, lineTop: -24px, lineLeft: 22px),
  from-credit-pilot: (elTop: 412px, elRight: 939px, lineTop: -58px, lineLeft: 21px),
);
//map for right figure elements
$rightElements: (
  to-best-wallet: (elTop:  -9px, elLeft:  823px, lineTop: 20px, lineRight: 34px),
  to-best:        (elTop:  61px, elLeft:  821px, lineTop: 20px, lineRight: 34px),
  to-wallet-one:  (elTop:  78px, elLeft: 1029px, lineTop: 32px, lineRight: 32px),
  to-sberbank:    (elTop: 138px, elLeft:  837px, lineTop: 49px, lineRight: 22px),
  to-yandex:      (elTop: 174px, elLeft: 1009px, lineTop: 20px, lineRight: 25px),
  to-card:        (elTop: 256px, elLeft:  943px, lineTop: 25px, lineRight: 20px),
);

@each $el, $map in $leftElements {
  .#{$el} {
    top: map-get($map, elTop);
    right: map-get($map, elRight);
    .line {
      top: map-get($map, lineTop);
      margin-left: map-get($map, lineLeft);
    }
  }
}

@each $el, $map in $rightElements {
  .#{$el} {
    top: map-get($map, elTop);
    left: map-get($map, elLeft);
    .line {
      top: map-get($map, lineTop);
      margin-right: map-get($map, lineRight);
    }
  }
}