html {
  font-size: 10px;
}

body {
  font-size: 20px;
  font-size: 2em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #2D2D2D;
  margin: 4%;
  box-shadow: 0px 0px 4px 0px rgba(169, 169, 169, 0.71);
}

a {
  color: #03C0E9;
  text-decoration: none;
}

p {
  margin: 0
}

img {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: underline;
}

.header-bg {
  /*background-color: #D54639;*/
  height: 316px;
  margin-bottom: -316px;
  overflow: hidden;
}

.header-bg img {
  display: block;
  border: none
}

.header {
  height: 316px;
  width: 100%;
  table-layout: fixed;
  color: #FFF;
  margin-bottom: 115px;
}

.header td {
  padding-left: 4%;
  padding-right: 4%;
  vertical-align: top;
}

.header__left {
  padding-top: 87px;
}

.header__logo {
  text-align: center;
  padding-top: 40px;
}

.header__right {
  text-align: right;
  padding-top: 110px;
}

.footer {
  /*background-color: #D54639;*/
  margin-top: 50px;
}

.footer img {
  display: block;
}

.main-wrap {
  padding: 0 5%;
}


.report {
  width: 100%;
  table-layout: fixed;
  font-size: 24px;
  font-size: 2.4rem;
}

.report td {
  padding: 20px 0;
  border-top: 1px solid #EDE8EC;
}

.report__first-row td {
  border-top: none;
}

.report__name {
  width: 75%;
}

.report__value {
  text-align: right;
}

.report__total .report__name {
  text-align: right;
}

.tel {
  text-decoration: none;
  color: inherit;
}

.tel:hover {
  text-decoration: none;
}

.common {
  table-layout: fixed;
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;
  background-color: #FBFBFB;
  border: 1px solid #EDE8EC;
  /*box-shadow: inset 0px 0px 4px 0px rgba(53, 53, 53, 0.004);*/
}

.common__left, .common__right {
  padding: 2% 0 1% 5%;
  vertical-align: top;
}

.common__left {
  border-right: 1px solid #EDE8EC;
}

.common p {
  margin: 10px 0;
}

.big {
  font-size: 4rem;
}

/*.rubl {
  width: 14px;
  height: 18px;
}*/

.text {
  padding: 0 5%;
  font-size: 2.4rem;
  line-height: 1.33;
}

.text p:first-line {
  margin-left: 7rem;
}

.title {
  font-size: 3rem;
  font-weight: normal;
  margin: 0 0 3.5rem 0;
}
